
body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    position: relative;
    font-family: 'Pixelify Sans'; 
    flex-direction: column;
  }
  

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2a3d2c;
    border: 4px solid #0F0;
    z-index: 2; 
  }
  
  .navbar-list {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
    list-style-type: none;
  }
  
  .navbar-list li {
    margin: 0 20px;
    border: 4px solid #0F0;
  }
  
  .navbar-link {
    color: #0F0;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Pixelify Sans'; 
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding: 10px;
  }
  
  .navbar-link:hover {
    color: #fff;
  }
  
  .navbar-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #0F0;
    bottom: 0;
    left: 50%;
    transform: translateX(-5%);
    /* transition: width 0.3s ease, left 0.3s ease; */
  }
  
  .navbar-link:hover::after {
    width: 100%;
    left: 0;
  }
  

  .heading {
    font-size: 3rem;
    color: #0F0;
    text-align: center;
    margin-top: 5px; 
    z-index: 2; 
  }
  
  
  #matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
  }
  
  
  .computer {
    background: #333;
    border: 10px solid #555;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.322), inset 0 0 20px rgba(0, 255, 0, 0.2);
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 4 / 3;
    position: relative;
    z-index: 1; 
  }
  
 
  .screen {
    background: black;
    border: 8px solid #444;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    box-shadow: inset 0 0 10px #0F0;
  }
  
  
  .typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
    text-align: center;
    color: #0F0; 
    
  }
  
 
  
  .line {
    border-right: 2px solid #0F0; 
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
  }
  

  .info {
    font-family: monospace;
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    left: 20px;
    top: 20px;
    color: #0F0;
  }
  
 
  #typewriter-text {
    color: #0F0; 
    font-size: 1.5rem; 
    text-align: center;
  }
  
  
  .border1 {
    width: 100vh;
    margin: 0 auto;
    padding: 10px;
    margin-top: 50px;
  }
  
 
  